<ion-header>
  <ion-toolbar class="toolbar-color1">
    <div class="header">
      <div class="back-icon float-left">
        <ion-back-button>
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-back-button>
      </div>
      <ion-title class="title">Wauchula</ion-title>
      <div class="menu-icon float-right">
        <ion-menu-button><span class="custom-icon"><img src="../../assets/images/menu-icon.png" alt=""></span>
        </ion-menu-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="location-detail">
    <img class="location-img" src="../../assets/images/w.jpg" alt="location">
       <p class="info"><img src="../../assets/images/location.png" alt="icon">Eckerds Pharmacy #101<br>
      518 South 6 th Avenue<br>
      Wauchula FL 33873</p>
      <p class="info"><img src="../../assets/images/call.png" alt="icon">Phone: 863.774.3536</p>
      <p class="info"><img src="../../assets/images/fax.png" alt="icon">Fax: 863.774.3538</p>
      <p class="info"><img src="../../assets/images/mail.png" alt="icon">Email: mitparakada.rao@gmail.com</p>
      <h2 ><i class="fa fa-map-o mr-3" aria-hidden="true"></i>Wauchula</h2>
    <p>Wauchula Eckerds Pharmacy was established in 2011 By Vikram Rao and Jack Patel to serve community of Hardee
      County, as Wauchula Pharmacy.</p>
    <p>We have selected this location as it is in center of the town, and close to emergency room. Wauchula Eckerds
      pharmacy has remained number 1 Doctor recommended pharmacy of town all 6 years. Wauchula Pharmacy is located on
      south 6th avenue, across from burger king and coker fuel.</p>
    <p>We are free-standing pharmacy with convenient drive-through and ample parking for our customers. Wauchula Eckerds
      Pharmacy is proud to provide free prescription deliveries to our customers and assisted living facilities anywhere
      in Hardee county.</p>
  </div>
</ion-content>

