<ion-header>
  <ion-toolbar class="toolbar-color1">
    <div class="header">
      <div class="back-icon float-left">
        <ion-back-button>
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-back-button>
      </div>
      <ion-title class="title">Wauchula</ion-title>
      <div class="menu-icon float-right">
        <ion-menu-button><span class="custom-icon"><img src="../../assets/images/menu-icon.png" alt=""></span>
        </ion-menu-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="location-detail">
    <img src="../../assets/images/w.jpg" alt="location">
    <p>Wauchula Eckerds Pharmacy was established in 2011 By Vikram Rao and Jack Patel to serve community of Hardee
      County, as Wauchula Pharmacy.</p>
    <p>We have selected this location as it is in center of the town, and close to emergency room. Wauchula Eckerds
      pharmacy has remained number 1 Doctor recommended pharmacy of town all 6 years. Wauchula Pharmacy is located on
      south 6th avenue, across from burger king and coker fuel.</p>
    <p>We are free-standing pharmacy with convenient drive-through and ample parking for our customers. Wauchula Eckerds
      Pharmacy is proud to provide free prescription deliveries to our customers and assisted living facilities anywhere
      in Hardee county.</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer">
      <ul>
        <li routerLink='/home/location'><img src="../../assets/images/homeicon-1.png" alt="icon">Home</li>
        <li routerLink='/home/information'><img src="../../assets/images/homeicon-2.png" alt="icon">Information</li>
        <li class="active" routerLink='/home/service'><img src="../../assets/images/rx.png" alt="icon">Refill</li>
        <li routerLink='/home/career'><img src="../../assets/images/homeicon-4.png" alt="icon">Career</li>
        <li routerLink='/home/contact-us'><img src="../../assets/images/contact-icon.png" alt="icon">Contact</li>
      </ul>
    </div>
  </ion-toolbar>
</ion-footer>