<ion-header>
  <ion-toolbar class="toolbar-color1">
    <div class="header">
      <div class="back-icon float-left">
        <ion-back-button>
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-back-button>
      </div>
      <ion-title class="title">Information</ion-title>
      <div class="menu-icon float-right">
        <ion-menu-button><span class="custom-icon"><img src="../../assets/images/menu-icon.png" alt=""></span>
        </ion-menu-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sans-font information">

    <div class="information-img about">
      <div class="information-text">
        <h3>About Us</h3>
        <p>Profession of pharmacy dates back to ancient times, where pharmacists prepared medical concoctions for
          patients upon receiving directives by prescriber.
          Independent pharmacies have remained heart of this business since its inception.</p>
        <h6 routerLink='/home/about-us'>Read More <img src="../../assets/images/arrow.png" alt=""> </h6>
      </div>
    </div>

    <div class="information-img career">
      <div class="information-text">
        <h3>Career With Eckreds</h3>
        <p>Eckerds Pharmacy is group of independent pharmacies serving local communities. Our pharmacies employ local
          residents of the community for various job opportunities.</p>
        <h6 routerLink='/home/career'>Read More <img src="../../assets/images/arrow.png" alt=""> </h6>
      </div>
    </div>

    <div class="information-img franchisee">
      <div class="information-text">
        <h3>Franchisee Opportunity</h3>
        <p>Eckerds Pharmacy is offering franchise opportunities throughout the United States. Eckerds is a trusted and
          established name and will provide a positive impression and recognition to your business.
          Eckerds is owned by independent pharmacists who understand how this business works. Owners of Eckerds have
          experience in successfully operating and running retail community pharmacies for over 15 year.</p>
        <h6 routerLink='/home/franchisee'>Read More <img src="../../assets/images/arrow.png" alt=""> </h6>
      </div>
    </div>

    <div class="information-img speciality">
      <div class="information-text">
        <h3>Speciality Compounding </h3>
        <p>Eckerds Pharmacy is proud to offer variety of specialty compounding products to customers with needs. Our
          compounding pharmacists are highly qualified and trained in area of pharmaceutical compounding.</p>
        <h6 routerLink='/home/speciality-compounding'>Read More <img src="../../assets/images/arrow.png" alt=""> </h6>
      </div>
    </div>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer">
      <ul>
        <li routerLink='/home/location'><img src="../../assets/images/homeicon-1.png" alt="icon">Home</li>
        <li routerLink='/home/information'><img src="../../assets/images/homeicon-2.png" alt="icon">Information</li>
        <li class="active" routerLink='/home/service'><img src="../../assets/images/rx.png" alt="icon">Refill</li>
        <li routerLink='/home/career'><img src="../../assets/images/homeicon-4.png" alt="icon">Career</li>
        <li routerLink='/home/contact-us'><img src="../../assets/images/contact-icon.png" alt="icon">Contact</li>
      </ul>
    </div>
  </ion-toolbar>
</ion-footer>