<ion-header>
  <ion-toolbar class="toolbar-color1">
    <div class="header">
      <div class="back-icon float-left">
        <ion-back-button>
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-back-button>
      </div>
      <ion-title class="title">Contact Us</ion-title>
      <div class="menu-icon float-right">
        <ion-menu-button><span class="custom-icon"><img src="../../assets/images/menu-icon.png" alt=""></span>
        </ion-menu-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contact-img">
    <div class="contact-text">
      <p class="mb-4"><img src="../../assets/images/location.png" alt="icon"><span>Corporate Headquarter</span>
        <br>
        Eckerds Pharmacy<br>
        5139 Manatee Ave West<br>
        Bradenton FL 34209
      </p>
      <p><img src="../../assets/images/call.png" alt="icon">Phone: 1.888.294.7120</p>
      <p><img src="../../assets/images/mail.png" alt="icon">Email: office@myEckerds.com</p>
      <p><img src="../../assets/images/web.png" alt="icon">Web: www.myEckerds.com</p>
    </div>
  </div>
  <div class="all-location">
    <h4> <img src="../../assets/images/map.png" alt=""> Our Locations</h4>

    <div id="accordion">
      <div class="accordion-group">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1" aria-controls="collapse-2">
          Wauchula &nbsp; | &nbsp; Toll Free: 1.877.994.7759
        </a>
        <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-2">
          <div class="accordion-content ">
            <div class="accordion-header">
              <p> <img src="../../assets/images/location.png" alt="map-img"> Eckerds Pharmacy #101<br>
                518 South 6 th Avenue<br>
                Wauchula FL 33873
              </p>
              <p><img src="../../assets/images/mail.png" alt="mail-img"> Email: Wauchula@MyEckerds.com</p>
            </div>
            <div class="accordion-footer">
              <ul>
                <li><img src="../../assets/images/fax.png" alt="fax-img">
                  Fax: 863.774.3536</li>
                <li><img src="../../assets/images/call.png" alt="phone-img"> Phone: 863.774.3536</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-controls="collapse-2">
          Palmetto &nbsp; | &nbsp; Toll Free: 1.888.243.5616
        </a>
        <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
          <div class="accordion-content ">
            <div class="accordion-header">
              <p> <img src="../../assets/images/location.png" alt="map-img"> Eckerds Pharmacy #102<br>
                907 10 th Street East<br>
                Palmetto FL 34221
              </p>
              <p><img src="../../assets/images/mail.png" alt="mail-img"> Email: Palmetto@myEckerds.com</p>
            </div>
            <div class="accordion-footer">
              <ul>
                               <li><img src="../../assets/images/fax.png" alt="fax-img">
                  Fax: 941.404.4122</li>
                <li><img src="../../assets/images/call.png" alt="phone-img"> Phone: 941.404.4121</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-controls="collapse-3">
          Bradenton &nbsp; | &nbsp; Toll Free: 1.888.294.7120
        </a>
        <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
          <div class="accordion-content ">
            <div class="accordion-header">
              <p> <img src="../../assets/images/location.png" alt="map-img"> Eckerds Pharmacy #103<br>
                5139 Manatee Ave West<br>
                Bradenton FL 34209
              </p>
              <p><img src="../../assets/images/mail.png" alt="mail-img"> Email: Bradenton@myEckerds.com</p>
            </div>
            <div class="accordion-footer">
              <ul>
                               <li><img src="../../assets/images/fax.png" alt="fax-img">
                  Fax: 941.538.7133</li>
                <li><img src="../../assets/images/call.png" alt="phone-img"> Phone: 941.538.7122</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-controls="collapse-5">
          New Port Richey
        </a>
        <div id="collapse-5" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
          <div class="accordion-content ">
            <div class="accordion-header">
              <p> <img src="../../assets/images/location.png" alt="map-img"> Eckerds Pharmacy #105<br>
                9035 Little Road​<br>
                New Port Richey FL 34654​
              </p>
              <p><img src="../../assets/images/mail.png" alt="mail-img"> Email: NPR@myEckerds.com​</p>
            </div>
            <div class="accordion-footer">
              <ul>
                               <li><img src="../../assets/images/fax.png" alt="fax-img">
                  Fax: 727.877.6605</li>
                <li><img src="../../assets/images/call.png" alt="phone-img"> Phone: 727.877.6603​</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-6" aria-controls="collapse-6">
          Lake Jackson
        </a>
        <div id="collapse-6" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
          <div class="accordion-content ">
            <div class="accordion-header">
              <p> <img src="../../assets/images/location.png" alt="map-img"> Eckerds Pharmacy #106<br>
                120 Circle Way St, Suite 7F​<br>
                Lake Jackson TX 77566​
              </p>
              <p><img src="../../assets/images/mail.png" alt="mail-img"> Email: LakeJackson@myEckerds.com​</p>
            </div>
            <div class="accordion-footer">
              <ul>
                                <li><img src="../../assets/images/fax.png" alt="fax-img">
                  Fax: 979.341.9822</li>
                <li><img src="../../assets/images/call.png" alt="phone-img"> Phone: 979.341.9811​</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-controls="collapse-4">
          Arcadia
        </a>
        <div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
          <div class="accordion-content ">
            <div class="accordion-header">
              <p> <img src="../../assets/images/location.png" alt="map-img"> Eckerds Pharmacy #107<br>
                710 North Brevard Ave<br>
                Arcadia FL 34266
              </p>
              <p><img src="../../assets/images/mail.png" alt="mail-img"> Email: Arcadia@myEckerds.com</p>
            </div>
            <div class="accordion-footer">
              <ul>
                <li><img src="../../assets/images/fax.png" alt="fax-img">
                  Fax: 863.485.4151</li>
                <li><img src="../../assets/images/call.png" alt="phone-img"> Phone: 863.485.4150</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-7" aria-controls="collapse-7">
          West Bradenton
        </a>
        <div id="collapse-7" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
          <div class="accordion-content ">
            <div class="accordion-header">
              <p> <img src="../../assets/images/location.png" alt="map-img">Eckerds Specialty Pharmacy<br>
                2902 59th Street West, Ste R<br>
                Bradenton FL 34209
              </p>
              <p><img src="../../assets/images/mail.png" alt="mail-img"> Email: Specialty@myEckerds.com</p>
            </div>
            <div class="accordion-footer">
              <ul>
                <li><img src="../../assets/images/fax.png" alt="fax-img">
                  Fax: 941.900.4415</li>
                <li><img src="../../assets/images/call.png" alt="phone-img"> Phone: 941.900.4410</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>