<ion-header>
  <ion-toolbar class="toolbar-color1">
    <div class="header">
      <div class="back-icon float-left">
        <ion-back-button>
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-back-button>
      </div>
      <ion-title class="title">About Us</ion-title>
      <div class="menu-icon float-right">
        <ion-menu-button><span class="custom-icon"><img src="../../assets/images/menu-icon.png" alt=""></span>
        </ion-menu-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sans-font">
    <div class="cover-img about">
      <div class="cover-text">
        <p>Eckerds Pharmacy is group of independently owned
          small business pharmacies.
        </p>
        <h4>About Us</h4>
      </div>
    </div>
    <div class="about-text">
      <h3 class="heading-text">Eckerds Pharmacy is group of independently owned small business pharmacies.
      </h3>
      <p>Profession of pharmacy dates back to ancient times, where pharmacists prepared medical concoctions for patients upon receiving directives by prescriber.

        Independent pharmacies have remained heart of this business since its inception.  </p>
      <h3  class="heading-text my-3">Predecessor to Eckerds was 4 independent pharmacies.</h3>
      <ul class="list">
      <li>Wauchula Pharmacy of Wauchula FL, established in 2011.</li>
      <li>Palmetto Drugmart of Palmetto FL, established in 2011.</li>
      <li>Fairway Pharmacy of Bradenton FL, established in 2012.</li>
      <li>Apollo Beach Pharmacy of Apollo Beach FL, established in 2015.</li>
    </ul>
    <p>All 4 of these pharmacies were combined together to operate under single brand of “Eckerds Pharmacy” in 2017. This assimilation has given better name recognition to the group and will improve customer confidence in our team. Eckerds Pharmacy will market itself actively and will start offering franchise opportunities exclusively to independently owned pharmacies in United States.</p>
         </div>
  </div>
</ion-content>