<ion-header>
  <ion-toolbar class="toolbar-color1">
    <div class="header">
      <div class="back-icon float-left">
        <ion-back-button>
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-back-button>
      </div>
      <ion-title class="title">Speciality Compound</ion-title>
      <div class="menu-icon float-right">
        <ion-menu-button><span class="custom-icon"><img src="../../assets/images/menu-icon.png" alt=""></span>
        </ion-menu-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sans-font">
    <div class="cover-img franchisee">
      <div class="cover-text">
        <p>We prepare Capsules, Lozenges, Troches, Creams, Ointments, Solutions, Lotions, Suspensions, Elixirs, Ear Drops, Lollipops and more.
        </p>
        <h4>Speciality</h4>
      </div>
    </div>
    <div class="about-text">
      <h3 class="heading-text">Following is the list of 20 most popular compound preparations that Eckerds have served.
      </h3>
      <ul>
        <li>BIEST (Estriol + Estradiol) Cream</li>
        <li>Testosterone Cream</li>
        <li>Progesterone Capsules</li>
        <li>Sildenafil (VIAGRA equivalent) Troches</li>
        <li>Tadalafil (CIALIS equivalent) Troches</li>
        <li>Progesterone/Estrogen Cream</li>
        <li>Tetracaine/Lidocain Lozenges</li>
        <li>Dexamethasone Nasal Spray</li>
        <li>Fluorourasil Lotion</li>
        <li>Boric Acid Vaginal Caps</li>
        <li>Female Viagra Cream</li>
        <li>VancoMycin Suspension</li>
        <li>Triple Fissure Hemorrhoid Cream</li>
        <li>Diazepam Suppositories</li>
        <li>Keto/Gaba/Lido/Ami Pain Cream</li>
        <li>Ketamine Cream</li>
        <li>Sumatriptan/Lido Migraine Cream</li>
        <li>Nail Fungus Compound</li>
        <li>Weight Loss Capsules (Acarb+Met+Phen)</li>
        <li>Thyroid Replacement Capsules</li>
      </ul>
    </div>
  </div>
</ion-content>