<ion-header>
  <ion-toolbar class="toolbar-color1">
    <div class="header">
      <div class="back-icon float-left">
        <ion-back-button>
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-back-button>
      </div>
      <ion-title class="title">Location</ion-title>
      <div class="menu-icon float-right">
        <ion-menu-button><span class="custom-icon"><img src="../../assets/images/menu-icon.png" alt=""></span>
        </ion-menu-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sans-font">

    <div class="top-heading" *ngIf="details">
      <h4>Select Your Location</h4>
      <p>Please Choose Nearest Location For Tracking The Pharmacy Store at Your area.</p>
    </div>
<div class="location-text">Locations</div>
    <div class="all-location">
      <div class="row">
        <div class="col-6 p-2">
          <div class="all-location-detail" (click)="getForm('Wauchula')">
            <div class="location-img">
              <img src="../../assets/images/arc.jpg" alt="location-img">
            </div>
            <p>Wauchula</p>
          </div>
        </div>

        <div class="col-6 p-2">
          <div class="all-location-detail" (click)="getForm('Palmetto')">
            <div class="location-img">
              <img src="../../assets/images/palm.jpg" alt="location-img">
            </div>
            <p>Palmetto</p>
          </div>
        </div>

        <div class="col-6 p-2">
          <div class="all-location-detail" (click)="getForm('Bradenton')">
            <div class="location-img">
              <img src="../../assets/images/w.jpg" alt="location-img">
            </div>
            <p>Bradenton</p>
          </div>
        </div>

        <div class="col-6 p-2">
          <div class="all-location-detail" (click)="getForm('New Port Richey')">
            <div class="location-img">
              <img src="../../assets/images/port.png" alt="location-img">
            </div>
            <p>New Port Richey</p>
          </div>
        </div>

        <div class="col-6 p-2">
          <div class="all-location-detail" (click)="getForm('Lake jackson')">
            <div class="location-img">
              <img src="../../assets/images/lake.png" alt="location-img">
            </div>
            <p>Lake jackson</p>
          </div>
        </div>

        <div class="col-6 p-2">
          <div class="all-location-detail" (click)="getForm('Arcadia')">
            <div class="location-img">
              <img src="../../assets/images/arcadia.png" alt="location-img">
            </div>
            <p>Arcadia</p>
          </div>
        </div>

        <div class="col-6 p-2">
          <div class="all-location-detail" (click)="getForm('West Bradenton')">
            <div class="location-img">
              <img src="../../assets/images/w.jpg" alt="location-img">
            </div>
            <p>West Bradenton</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer">
      <ul>
        <li routerLink='/home/location'><img src="../../assets/images/homeicon-1.png" alt="icon">Home</li>
        <li routerLink='/home/information'><img src="../../assets/images/homeicon-2.png" alt="icon">Company Info</li>
        <li class="active"  routerLink='/home/service'><img src="../../assets/images/rx.png" alt="icon">Services</li>
        <li  routerLink='/home/career'><img src="../../assets/images/homeicon-4.png" alt="icon">Career</li>
        <li  routerLink='/home/contact-us'><img src="../../assets/images/contact-icon.png" alt="icon">Contact</li>
      </ul>
    </div>
  </ion-toolbar>
</ion-footer>