<ion-header>
  <ion-toolbar class="toolbar-color1">
    <div class="header">
      <div class="back-icon float-left">
        <ion-back-button>
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-back-button>
      </div>
      <ion-title class="title">Career</ion-title>
      <div class="menu-icon float-right">
        <ion-menu-button><span class="custom-icon"><img src="../../assets/images/menu-icon.png" alt=""></span>
        </ion-menu-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sans-font">
    <div class="cover-img career">
      <div class="cover-text">
        <p>Eckerds Pharmacy is group of independent pharmacies serving local communities. Our pharmacies employ local
          residents of the community for various job opportunities.
        </p>
        <h4>Career</h4>
      </div>
    </div>
    <div class="about-text">
      <h3 class="heading-text">Following are the positions normally available at our stores.
      </h3>
      <div class="all-career-position">

        <div class="single-career-position">
          <div class="career-header">
            <h6>Designation</h6>
            <small>Registered Pharmacist
            </small>
          </div>
          <div class="career-middle">
            <h5 class="text-purple">Qualification Required</h5>
            <p class="text-blue  text-height">Candidate should be licensed to practice pharmacy by state board and
              should be in good
              standing with Office of Inspector General and CMS.</p>
          </div>
        </div>

        <div class="single-career-position">
          <div class="career-header">
            <h6>Designation</h6>
            <small>Registered Floater Pharmacist
            </small>
          </div>
          <div class="career-middle">
            <h5 class="text-purple">Qualification Required</h5>
            <p class="text-blue  text-height">Candidate should be licensed to practice pharmacy by state board and
              should be in good standing with Office of Inspector General and CMS. Candidate should be willing to
              travel.</p>
          </div>
        </div>

        <div class="single-career-position">
          <div class="career-header">
            <h6>Designation</h6>
            <small>Registered Pharmacy Technician
            </small>
          </div>
          <div class="career-middle">
            <h5 class="text-purple">Qualification Required</h5>
            <p class="text-blue  text-height">Candidate should be registered with state board and should be in good
              standing with Office of Inspector General and CMS.</p>
          </div>
        </div>

        <div class="single-career-position">
          <div class="career-header">
            <h6>Designation</h6>
            <small>Trainee Pharmacy Technician
            </small>
          </div>
          <div class="career-middle">
            <h5 class="text-purple">Qualification Required</h5>
            <p class="text-blue  text-height">Candidate should be willing to learn, open to opportunities and genuinely
              interested in making pharmacy job a priority. Eckerds will sponsor all tuition cost to provide state
              approved pharmacy technician training program..</p>
          </div>
        </div>

        <div class="single-career-position">
          <div class="career-header">
            <h6>Designation</h6>
            <small>Compounding Specialist
            </small>
          </div>
          <div class="career-middle">
            <h5 class="text-purple">Qualification Required</h5>
            <p class="text-blue  text-height">Registered Pharmacy Technician can get trained by Eckerds to become
              compounding specialist. Should be willing to learn and medically fit to handle chemicals. Candidate must
              agree to follow all OSHA guidelines.</p>
          </div>
        </div>

        <div class="single-career-position">
          <div class="career-header">
            <h6>Designation</h6>
            <small>Delivery Specialist
            </small>
          </div>
          <div class="career-middle">
            <h5 class="text-purple">Qualification Required</h5>
            <p class="text-blue  text-height">Eckerds does employ Delivery Specialist as per needs of specific location.
              In many cases Registered Pharmacy Technician can be cross trained to perform delivery specialist tasks..
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>