<ion-header>
  <ion-toolbar class="toolbar-color1">
    <div class="header">
      <div class="back-icon float-left">
        <ion-back-button>
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-back-button>
      </div>
      <ion-title class="title">Eckerds Services</ion-title>
      <div class="menu-icon float-right">
        <ion-menu-button><span class="custom-icon"><img src="../../assets/images/menu-icon.png" alt=""></span>
        </ion-menu-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sans-font">

    <div class="top-heading">
      <h4>Transfer Prescription, Refill Request, Price Check</h4>
      <p>Please Choose Service For continue.</p>
    </div>

    <div class="all-service">

      <div class="single-service-detail" (click)="getLocation('tranfer-prescription')">
        <a class="single-service service-hover-color">
          <img class="service-img" src="../../assets/images/prescripsion.png" alt="prescripsion">
          <p>Transfer
            Prescription</p>
         <img class="arrow-img" src="../../assets/images/arrow.png" alt="arrow">
        </a>
      </div>
      <div class="single-service-detail" (click)="getLocation('refill-request')">
        <a class="single-service service-hover-color">
          <img class="service-img" src="../../assets/images/refill.png" alt="refill">
          <p>Refill Request</p>
         <img class="arrow-img" src="../../assets/images/arrow.png" alt="arrow">
        </a>
      </div>
      <div class="single-service-detail" (click)="getLocation('price-check')">
        <a class="single-service service-hover-color">
          <img class="service-img" src="../../assets/images/prise.png" alt="refill">
          <p>Price Check</p>
         <img class="arrow-img" src="../../assets/images/arrow.png" alt="arrow">
        </a>
      </div>

    </div>

  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <div class="footer">
      <ul>
        <li routerLink='/home/home-page'><img src="../../assets/images/homeicon-1.png" alt="icon">Home</li>
        <li routerLink='/home/information'><img src="../../assets/images/homeicon-2.png" alt="icon">Pharmacy Info</li>
        <li class="active" routerLink='/home/service'><img src="../../assets/images/rx.png" alt="icon">Services</li>
        <li routerLink='/home/career'><img src="../../assets/images/homeicon-4.png" alt="icon">Career</li>
        <li routerLink='/home/contact-us'><img src="../../assets/images/contact-icon.png" alt="icon">Contact</li>
      </ul>
    </div>
  </ion-toolbar>
</ion-footer>