<ion-header>
  <ion-toolbar class="toolbar-color1">
    <div class="header">
      <div class="back-icon float-left">
        <ion-back-button>
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-back-button>
      </div>
      <ion-title class="title">Franchisee</ion-title>
      <div class="menu-icon float-right">
        <ion-menu-button><span class="custom-icon"><img src="../../assets/images/menu-icon.png" alt=""></span>
        </ion-menu-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sans-font">
    <div class="cover-img franchisee">
      <div class="cover-text">
        <p>Eckerds Pharmacy is group of independently owned
          small business pharmacies.
        </p>
        <h4>Franchisee</h4>
      </div>
    </div>
    <div class="about-text">
      <h3 class="heading-text">Eckerds Pharmacy is group of independently owned small business pharmacies.
      </h3>
      <p>Eckerds Pharmacy is offering franchise opportunities throughout the United States. Eckerds is a trusted and
        established name and will provide a positive impression and recognition to your business.
      </p>
      <p>
        Eckerds is owned by independent pharmacists who understand how this business works. Owners of Eckerds have
        experience in successfully operating and running retail community pharmacies for over 15 years.
      </p>
      <p>Eckerds will let you keep your own independent business practices financially, but will present you in the
        market as a chain store. It will create a positive relationship with patients and providers too.</p>
      <p>Eckerds will help you earn competitive reimbursements as well as help you purchase goods at better discounted
        rates than you would get independently.</p>
    </div>
  </div>
</ion-content>