<ion-menu side="start" menuId="first" contentId="content">
  <div class="menu">
    <div class="logo-img">
<img src="../../assets/images/logo.png" alt="logo-img">
    </div>
    <div class="all-menu-list">
      <div class="menu-list" routerLink='/home/location'>
        <p><img src="../../assets/images/homeicon-1.png" alt="icon"> Home </p>
      </div>
      <div class="menu-list" routerLink='/home/information'>
      <p> <img src="../../assets/images/homeicon-2.png" alt="icon"> Information </p>
      </div>
      <div class="menu-list" routerLink='/home/service'>
      <p><img src="../../assets/images/homeicon-3.png" alt="icon"> Refill</p>
      </div>
      <div class="menu-list" routerLink='/home/career'>
      <p><img src="../../assets/images/homeicon-4.png" alt="icon"> Career</p>
      </div>
      <div class="menu-list" routerLink='/home/location'>
      <p> <img src="../../assets/images/homeicon5.png" alt="icon"> Locations</p>
      </div>
      <div class="menu-list" routerLink='/home/contact-us'>
      <p><img src="../../assets/images/homeicon-6.png" alt="icon"> Contact Us</p>
      </div>
      <div class="menu-list" routerLink='/home/franchisee'>
      <p><img src="../../assets/images/homeicon-7.png" alt="icon"> Franchisee</p>
      </div>
    </div>
  </div>
</ion-menu>
<ion-router-outlet main id="content"></ion-router-outlet>
