<ion-menu side="start" menuId="first" contentId="content">
  <div class="menu">
    <div class="logo-img">
<img src="../../assets/images/logo.png" alt="logo-img">
    </div>
    <div class="all-menu-list">
      <div class="menu-list" routerLink='/home/home-page' (click)="closeMenu()">
        <p><img src="../../assets/images/homeicon-1.png" alt="icon"> Home </p>
      </div>
      <div class="menu-list" routerLink='/home/information' (click)="closeMenu()">
      <p> <img src="../../assets/images/homeicon-2.png" alt="icon"> Information </p>
      </div>
      <div class="menu-list" routerLink='/home/service' (click)="closeMenu()">
      <p><img src="../../assets/images/homeicon-3.png" alt="icon"> Services</p>
      </div>
      <div class="menu-list" routerLink='/home/career' (click)="closeMenu()">
      <p><img src="../../assets/images/homeicon-4.png" alt="icon"> Career</p>
      </div>
      <div class="menu-list" routerLink='/home/location' (click)="closeMenu()">
      <p> <img src="../../assets/images/homeicon5.png" alt="icon"> Locations</p>
      </div>
      <div class="menu-list" routerLink='/home/contact-us' (click)="closeMenu()">
      <p><img src="../../assets/images/homeicon-6.png" alt="icon"> Contact Us</p>
      </div>
      <div class="menu-list" routerLink='/home/franchisee' (click)="closeMenu()">
      <p><img src="../../assets/images/homeicon-7.png" alt="icon"> Franchisee</p>
      </div>
      <div class="menu-list" routerLink='/home/franchisee' (click)="closeMenu()">
        <p><img src="../../assets/images/homeicon.png" alt="icon">Speciality Compounding</p>
        </div>
    </div>
  </div>
</ion-menu>
<ion-router-outlet main id="content"></ion-router-outlet>
